<!DOCTYPE html>
<html lang="en">
<head>
    GET <form action="/get">
    <p>
        fromdata : <input type="text" name="id">
    </p>
    <button type="submit">request</button>
    </form>
    <br><br>
    POST <form action="/post" method="post">
    <p>
        formdata : <input type="text" name="id">
    </p>
    <button type="submit">ddd</button>
    </form>
</head>
<body>
    
</body>
</html>