<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- bootstrap CDN-->
    <!--부트스트랩-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>============ EOS Wallet Login ==============</h1>
        <form method="post">
            <div class="form-group">
                <label>Account ( 계정명 )</label>
                <input type="text" class="form-control" name="account" value="petereostest">
            </div>
            <div class="form-group">
                    <label>Private Key ( 개인 키 )</label>
                    <input type="text" class="form-control" name="privateKey" value="5KGJC8zCSzvaw4BUpvmGWZXxepewZhCCanAJ9PSFLEXvcttoE9e">
            </div>
            <div class="form-group">
                    <label>API URL ( 노드 연결 경로 )</label>
                    <input type="text" class="form-control" name="api_url" value="http://jungle2.cryptolions.io:80">
            </div>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>