<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--부트스트랩 CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Document</title>
</head>

<body>
    <div class="container">
        <h1>==T R A N S F E R==</h1>
        <form method="post">
            <div class="form-group">
                <label>TOKEN</label>
                <input type="text" class="form-control" name="token" value='eoscoin'>
            </div> 
            <div class="form-group">
                <label>from </label>
                <input type="text" class="form-control" name="from" value='qkrwjdrms123'>
            </div>
            
            <div class="form-group">
                <label> to </label>
                <input type="text" class="form-control" name="to" value='sizatester15'>
            </div>
            <div class="form-group">
                <label> quantity </label>
                <input type="text" class="form-control" name="quantity" >
            </div>

            <div class="form-group">
                <label> memo </label>
                <input type="text" class="form-control" name="memo" >
            </div>

            <button type="submit">send </button>
        </form>
    </div>
</body>

</html>